.title {
    font-size: 2.3rem;
    color: var(--color-primary);
    text-align: center;
}

.link {
    color: var(--color-primary);
}

.link:hover {
    text-decoration: underline;
}

.cartWrapper {
    display: flex;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: flex-start;
}

.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 900px;
    width: 100%;
    margin: 1rem 0 0;
}

.card {
    margin: 1rem;
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 2px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    width: 100%;
    display: flex;

    position: relative;
}

.card img {
    margin-right: 1rem !important;
}
.discountCode {
    margin-top: 2.5rem;
    position: relative;
}

.discountCodeInputWrapper {
    display: flex;
    width: 100%;
    position: relative;
}

.discountCodeInputWrapper input,
.discountCodeInputWrapper button {
    padding: 0.5rem 0.9rem;
}

.discountCodeInputWrapper input {
    width: 100%;
    outline: none;
    border: 1px solid black;
    padding-right: 0;
    font-size: 1rem;
    border-right: none;
}

.discountCodeInputWrapper p {
    background-color: white;
    pointer-events: none;
    padding: 0 0.25rem;
    position: absolute;
    margin: 0;
    /* top: 47%; */
    left: 0.7rem;
    transform: translateY(-50%);
    transition: 0.2s ease;
}

.discountCodeInputWrapper button {
    cursor: pointer;
    border: 1px solid black;
    border-left: none;
    background-color: white;
}

.codeError {
    font-size: 0.85rem;
    color: red;
    bottom: -1.3rem;
    position: absolute;
    margin: 0;
}

/* conditional classes */
.codeInputFocused {
    top: -5px;
    font-size: 0.85rem;
}

.codeInputBlurred {
    top: 47%;
    font-size: 1rem;
}

@media screen and (max-width: 1035px) {
    .cartWrapper {
        flex-direction: column-reverse;
        align-items: center;
    }
}
